* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: hsl(0, 0%, 98%);
}
main{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rely{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gray{
    color: hsl(229, 6%, 66%);
}
.pic{
    width: 320px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.line{
    margin-top: 0.01%;
    width: 350px;
    height: 5px;
    border-radius: 5px 5px 0 0;
}
.cyan{
    background-color: hsl(180, 62%, 55%);
}

.red{
    background-color: hsl(0, 78%, 62%);
}
.orange{
    background-color: hsl(34, 97%, 64%);
}
.blue{
    background-color: hsl(212, 86%, 64%);
}
h1{
    font-size: 40px;
    margin-bottom: 2%;
}
h2{
    font-size: 26px;
    font-weight: 900;
}
.marg{
    margin-bottom: 5%;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
}
.left,.middle,.right{
    width: 400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    flex-direction: column;
}
.builder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    height: 250px;
    background-color: #fff;
    margin-bottom: 7%;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.357);
    border-radius: 5px 5px 10px 10px;
}
.super{
    padding-left: 25px;
    padding-top: 25px;
}
.text{
    padding-left: 25px;
    padding-top: 15px;
}


/* My info */
.kudzuya {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: hsl(223, 87%, 63%);
    font-size: 20px;
}
footer{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kudzuya a {
    color: hsl(223, 87%, 63%);
    font-size: 20px;
    transition: 0.5;
}

.kudzuya a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

/* My info ends*/

/* mobile settings */
@media screen and (max-width: 1000px) {

    body {
        width: 100%;
    }

    main {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        width: 100%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .kudzuya {
        position: relative;
        margin-top: 100px;
    }
    h1{
        font-size: 30px;
    }
    .rely{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    .left,.right,.middle{
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
    }
    .our{
        font-size: 21px;
    }
}